@import "../../../_style-settings.scss";
.project-page {
    width: 100%;
    display: flex;
    justify-content: center;
    position: inherit;
    background-color: $dark-color;
    overflow: hidden;

    .wrapper {
        max-width: 1120px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;

        @include tablet {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 90%;
        }

        @include mobile {
            gap: 0px;
        }

        .imgContainer {
            width: 100%;
            flex: 1;
            @include tablet {
                transform: none !important;
                width: 80%;
                flex: none;
            }
            img {
                display: block;
                width: 100%;
                display: 1;
            }
        }

        .textContainer {
            flex: 1;

            color: $light-color;
            h1 {
                color: $main-color;
            }

            p {
                margin-bottom: 22px;
            }

            @include tablet {
                flex: none;
                margin-bottom: 30px;
                transform: none !important;
            }
        }
    }
}
