@import "../../_style-settings.scss";

.techstack {
    max-width: 1120px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;

    .title {
        display: none;

        @include tablet {
            display: block;
            color: $light-color;
            margin-bottom: 0;
            height: 10%;
        }
    }

    .wrapper {
        height: 100%;
        gap: 115px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        position: relative;

        @include tablet {
            justify-content: center;
            gap: 20px;
            height: 90%;
            position: relative;
            padding: 20px;
            padding-top: 0;
        }

        @include mobile {
            // flex-direction: column-reverse;
            justify-content: space-between;
        }
        .left-side {
            flex: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;

            @include tablet {
                flex: 2;
            }

            h1 {
                color: $light-color;
                margin-bottom: 10px;

                @include tablet {
                    display: none;
                }
            }
            h2 {
                color: $light-color;
                margin-bottom: 10px;
            }

            .footer {
                margin-top: 20px;
                h2 {
                    font-weight: 600;
                    font-size: 4vmin;
                }

                @include tablet {
                    display: none;
                }
            }
        }
    }
}
