@import "../../_colors.scss";

.home {
    height: 100%;
    max-width: 1120px;
    margin: auto;
    position: relative;
    overflow: hidden;

    .wrapper {
        height:90%;
        position: absolute;
        bottom:0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .textContainer {
            display: flex;
            flex-direction: column;
            width: auto;

            h1 {
                font-size: 72px;
                color: $main-color;
            }

            p {
                font-size: 22px;
                color: $dark-color;

                span {
                    color: $main-color;
                    font-weight: 600;
                }
            }

            .buttonContainer {
                display: flex;
                gap: 20px;
                margin-top: 27px;
            }
        }

        .svgContainer {
            display: flex;
            justify-content: flex-end;
            svg {
                width: 90%;
                height: auto;
                stroke: $main-color;
                display: block;
            }
        }
    }
    .background-circles{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;

        .circle{
            background-color: $main-color;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            position:absolute;

            .circle1{
                top:0;
                right:69,9;
            }
        }
    }
}
