@import "../../_style-settings.scss";

.navbar {
    max-width: 1120px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    height: 90px;
    align-items: flex-end;

    @include tablet {
        width: 90%;
    }

    @include mobile {
        font-size: $body-mobile;
        justify-content: center;
        width: 96%;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 20px;
        color: $dark-color;
        font-size: 20px;
        font-weight: 500;

        @include mobile {
            gap: 0px;
        }
        li {
            a {
                width: 100%;

                @include mobile {
                    width: 80px;
                }
            }

            .btn {
                width: 169px;
                height: 46px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $light-color;
                background-color: #df661f;
                border-radius: 13px;

                @include mobile {
                    width: 120px;
                    margin-left: 10px;
                }
            }
        }
    }
}
