$light-color: #f4efef;
$dark-color: #0b1424;
$main-color: #f08314;

$h1-size: 62px;
$h2-size: 5vh;
$h3-size: 3.4vh;
$body-text: 20px;
$input-text: 18px;

@mixin tablet {
    @media (max-width: 1120px) {
        @content;
    }
}
@include tablet {
    $h1-size: 50px;
}
